  <div class="px-4 py-5 sm:p-6">
      <div class="space-y-4 min-h-[12rem]">
        {% for control in controls %}
        <div class="flex items-center">
          <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
          <button 
            type="button" 
            class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 {{ 'bg-indigo-600' if control.state == 'on' else 'bg-gray-200' }}"
            role="switch" 
            aria-checked="{{ 'true' if control.state == 'on' else 'false' }}"
            onclick="updateControl('{{ control.entity_id }}', '{{ control.state }}')"
          >
            <span class="sr-only">{{ control.name }}</span>
            <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
            <span 
              aria-hidden="true" 
              class="pointer-events-none inline-block size-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out {{ 'translate-x-5' if control.state == 'on' else 'translate-x-0' }}"
            ></span>
          </button>
          <span class="ml-3 text-sm">
              <span class="font-medium text-gray-900">{{ control.name }}</span>
          </span>
        </div>
        {% endfor %}
      </div>
  </div>
