<!doctype html>
<html class="h-full">
    <head>
        <title>Peak Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('dist', path='main.css') }}" rel="stylesheet" />
    </head>
    <body class="h-full bg-gray-50">
        <div class="min-h-full">
            <div class="py-6 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
                <h1 class="text-3xl font-bold text-gray-900 mb-8">
                    Peak Conditions
                </h1>

                <div
                    class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6"
                >
                
                    <!-- Include only desired sections -->
                    {% for context_name in context_names %}
                    <div
                        class="relative overflow-hidden bg-white rounded-lg shadow divide-y divide-gray-200"
                    >
                        <div class="px-4 py-5 sm:px-6">
                            <h2
                                class="text-lg font-medium text-gray-900 capitalize"
                            >
                                {{ context_name }}
                            </h2>
                        </div>
                        <div class="px-4 py-5 sm:p-6">
                            {% if context_name == 'controls' %}
                            <div data-controls-target></div>
                            {% else %}
                            <div
                                data-stream="{{ context_name }}"
                                class="prose prose-sm max-w-none font-normal leading-relaxed text-gray-600 min-h-[12rem]"
                            >
                                <div class="animate-pulse">Loading...</div>
                                <p class="content"></p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('dist', path='main.js') }}"></script>
    </body>
</html>
