<!doctype html>
<html class="h-full">
    <head>
        <title>Peak Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('dist', path='main.css') }}" rel="stylesheet" />
    </head>
    <body class="h-full bg-gray-50">
        <div class="min-h-full">
            <div class="py-6 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
                <h1 class="text-3xl font-bold text-gray-900 mb-8">
                    Peak Conditions
                </h1>

                <div
                    class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
                >
                <div class="relative overflow-hidden bg-white rounded-lg shadow divide-y divide-gray-200">
                    <div class="px-4 py-5 sm:px-6">
                        <h2 class="text-lg font-medium text-gray-900 capitalize">
                            Controls
                        </h2>
                    </div>
                    <!--- Controls go here ---> 
                    {% for context in contexts %}
                    <div
                        class="relative overflow-hidden bg-white rounded-lg shadow divide-y divide-gray-200"
                    >
                        <div class="px-4 py-5 sm:px-6">
                            <h2
                                class="text-lg font-medium text-gray-900 capitalize"
                            >
                                {{ context }}
                            </h2>
                        </div>
                        <div class="px-4 py-5 sm:p-6">
                            <div
                                data-stream="{{ context }}"
                                class="prose prose-sm max-w-none font-normal leading-relaxed text-gray-600 min-h-[200px]"
                            >
                                <div class="animate-pulse">Loading...</div>
                                <p class="content"></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('dist', path='main.js') }}"></script>
    </body>
</html>
